a.lbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-1);
}

a.lbutton .icon{
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--cor-1);
    border: solid 1px var(--cor-4);
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.lbutton .icon .play {
    border: solid 7px var(--cor-4);
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -7px;
}

a.lbutton .label {
    margin-left: 10px;
}

.links {
    display: flex;
}

.links .in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links .in p {
    color: var(--cor-1);    
}