

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}



.f {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f p {
    color:var(--cor-texto-menu);
    font-size: smaller;
    padding-top: 3px;
}



