

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}



.f {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f p {
    color: --cor-1;
    font-size: smaller;
    padding-top: 3px;
    font-weight: bold;
    background-color: var(--cor-2);
    border-radius: 6px;
}



