.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navigator ul li:last-child {
    margin-top: 60px;
}

.navigator ul li:first-child {
    margin-bottom: 60px;
}

/* .navigator ul li{
    margin-bottom: 60px;
} */

.navigator ul li a{
    color: var(--cor-6);
    border: solid 2px var(--cor-4);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--cor-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--cor-2);
    z-index: 0;
}

.navigator ul{
    z-index: 1;
}

.navigator ul li a:hover,
.navigator ul li a.active {
    color: var(--cor-1);
    background-color: var(--cor-5);
}

.navigator .icone2 {
    position: absolute;
    top: -5%;

}

.navigator .icone {
    position: absolute;
    bottom: -3%;

}

input[type="checkbox"] {
    display: none;
}
