@media only screen and (max-width: 400px) {
    .wrapper .top .descricao .pills li {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        padding: 0;
        margin-bottom: 3px;
        margin-left: 0;
    }
    .wrapper .top .descricao .pills ul {
        display: flex;
        flex-direction: column;
        
    }
}

.pills ul {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.pills ul li {
    background-color: var(--cor-1);
    color: var(--cor-4);
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child {
    margin-left: 0;
}